/*
    Name: Angela Denise Almazan
    Section: 121-B & 121-P
    HTML and CSS files for the lecture on responsive design
*/
body {
    background-image: url(assets/background.png);
    background-repeat: repeat;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-container {
    display: flex;
    justify-content: center;
    background-image: url(assets/bannerbg.png);
    background-repeat: repeat-x;
    max-height: 50px;
    width: 100%;
}

#page-heading {
    font-size: 24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#overall-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
}

.overall-content.main {
    display: flex;
}

#rotten-rating {
    max-width: 550px;
    background-image: url(assets/rbg.png);
    background-repeat: repeat-x;
    max-height: 83px;
    border-top-left-radius: 16px;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    display: flex;
}

#rotten-rating img {
  border-top-left-radius: 16px;
}

#movie-banner img {
    border-top-right-radius: 16px;
}

#left-half {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    order: 1;
}

#right-half {
    order: 2;
    flex: 1;
    font-family: Arial, sans-serif;
    font-size: 8pt;   
    border-top-right-radius: 16px;
}

dt {
    margin-top: 10pt;
    font-weight: bold;
}

#general-overview {
    padding: 10pt;
}

li, ul {
    padding: 0;
    list-style: none;
}

#audience-review {
    column-count: 2;
    padding: 2%;
}

#content-footer {
    text-align: center;
    margin: 0;
    padding: 5px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#right-half, #content-footer {
    background-color: #A2B964
}

#content {
    display: flex;
}

#validator-footer {
    position: fixed;
    text-align: right;
}

#validator-footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

#validator-footer img {
    opacity: 50%;
}

#content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.review {
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-size: 8pt;
    font-weight: bold;
    margin-top: 0;
    overflow: hidden; 
}

.review img, .person img {
    float: left;
    margin-right: 5px;
}

.review-container {
    margin-bottom: 20pt;
}

.person {
    overflow: hidden;
}

.person span {
    font-style: italic;
}