body {
    background-image: url(assets/background.png);
    background-repeat: repeat;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-container {
    display: flex;
    justify-content: center;
    background-image: url(assets/bannerbg.png);
    background-repeat: repeat-x;
    max-height: 50px;
}

#page-heading {
    font-size: 24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#overall-content {
    display: flex;
    max-width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
}

#rotten-rating {
    max-width: 550px;
    background-image: url(assets/rbg.png);
    background-repeat: repeat-x;
    max-height: 83px;
    border-top-left-radius: 16px;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    display: flex;
}

#rotten-rating img {
  border-top-left-radius: 16px;
}

#movie-banner img {
    border-top-right-radius: 16px;
}

#left-half {
    order: 1;
}

#right-half {
    order: 2;
}