/* Change the color of at least 2 elements */
/* Change the font properties of at least two elements */
/* Change one last thing of your choosing */
body {
    margin: 0;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

a {
    color: #990000;
    text-decoration: none;
}

/* Pseudo class */
a:hover {
    color: purple;
    text-decoration: underline;
}

/* Pseudo element */
p::first-letter {
    font-weight: 700;
    font-size: 25px;
}

h1, h2 {
    color: #6B6B6B;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

b {
    color: blueviolet;
}

table, th, td {
  border: 1px solid black;
}

th {
    font-size: 45px;
}

footer {
    background-color: darkgray;
    padding: 10px;
}

main {
    padding: 5px;
}

.moods {
    height: 500px;
    width: auto;
}

dt {
    font-size: 14px;
    color: purple;
}

dd {
    font-size: 12px;
}

.movies {
    font-weight: bold;
}

ol.reverse-numbered {
    list-style-type: none;
    counter-reset: a 4;
}

ol.reverse-numbered li::before {
  content: counter(a)'. ';
  counter-increment: a -1;
}