/* Answers for exercise_1 */
main {
	border: 5px green solid;
}

header {
	border: 5px red solid;
}

header h2 {
	border: 5px orange solid;
}

section {
	border: 5px blue solid;
}

section span {
	border: 5px purple solid;
}