/* Change the color of at least 2 elements */
/* Change the font properties of at least two elements */
/* Change one last thing of your choosing */
body {
    margin: 0;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

a {
    color: red;
}

a:hover {
    color: purple;
}

h1, h2 {
    color: orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

b {
    color: blueviolet;
}

table, th, td {
  border: 1px solid black;
}

th {
    font-size: 45px;
}

footer {
    background-color: darkgray;
    padding: 10px;
}

.container {
    padding: 5px;
}

.moods {
    height: 500px;
    width: auto;
}