body {
    font-size: 12pt;
    font-family: Georgia, serif;
}

/* Insert baby name ranking id=graph table */
.bar {
    background-color: #ffbbbb;
    width: 50px;
}

#graph td {
    vertical-align: bottom;  /* Anchors bars to the bottom of cont. */
    height: 250px;
}

#graph {
    height: 250px;
    font-weight: bold;
    text-align: center;

    border-collapse: collapse;
    table-layout: fixed;
}

#errors {
    color: red;
    font-weight: bold;
    font-style: italic;
}
