body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

a {
    color: #A4A400;
}

img {
    height: 300px;
    width: auto;
}

.overview {
    list-style-type: none;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;   
}

h2 {
    font-size: 18pt;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

span {
    border-bottom: 1px dotted #000;
}

#cake {
    
}