body {
    background-image: url("assets/silverware.jpg");
    background-repeat: repeat;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

a {
    color: #A4A400;
}

#pie {
    height: 300px;
    width: auto;
    margin-bottom: 10px;
}

.overview {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    font-weight: normal;
    font-size: 18pt;
}

h1, h2 {
    display: inline-block;
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

span {
    border-bottom: 1px dotted #000;
}

p {
    margin: 0;
    margin-bottom: 3px;
}

.comment {
    background-color: #FFFFA8;
    margin-bottom: 10px;
}

.comment-wrapper {
    padding: 2.5px 30px;
}

ul {
    list-style-image: url(assets/pie_icon.gif);
}